.cart {
  /*variables*/
  --top-position: 40px;

  position: fixed;
  /* right: 0; */
  top: var(--top-position);
  width: 300px;
  height: 100%;
  background-color: var(--bg-color);
  z-index: 89;
  overflow: auto;
}
.cart.show {
  right: 0;
  background-color: white;
  padding: 10px;
  margin: 10px;
}
.cart.hide {
  right: -100%;
}

.name-sidebar {
  margin: 10px;
}

.name-sidebar span {
  color: lightgray;
}

.name-sidebar h3 {
  margin: 0 10px;
  color: #003f5c;
}

.info-sidebar {
  display: flex;
  margin: 10px;
  margin-top: 20px;
}

.quantity-sidebar {
  background-color: white;
  padding: 0 10px;
  width: 40px;
  height: 40px;
  border: 1px solid lightgray;
  align-items: center;
  margin: 0 auto;
}

.pricer-sidebar {
  margin-top: 40px;
}

.info-sidebar span {
  margin: 5px;
}

.sidebar-button {
  background-color: #003f5c;
  color: white;
  font-size: 1.1rem;
  /* margin: 40px; */
  margin-bottom: 50px;
  padding: 15px;
  width: 100%;
  border: none;
}
