* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
}

button {
  cursor: pointer;
  font-size: 10px;
}

/*HOME.jsx*/

.home {
  padding-bottom: 40px;
}
.homePage {
  padding: 10px;
  margin: 10px;
}

.home .products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.home .product-card {
  position: relative;
  width: 300px;
  height: 380px;
  border: 1px solid #003f5c80;
  border-radius: 1rem;
  cursor: pointer;
}

.home .product-card .img-product {
  width: 100%;
  height: 210px;
  aspect-ratio: 16/9;
  object-fit: contain;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #003f5c40;
}

.home .product-card .detail {
  padding: 1rem 1rem;
}

.home .product-card .prices {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.home .product-card .price {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.home .product-card .lblprice {
  color: gray;
}

.home .product-card div.cart-icon {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: #003f5c;
}

.home .product-card img {
  width: 70%;
  height: auto;
}

/* SEARCH */

.search-product {
  display: flex;
  justify-content: center;
  height: 30px;
}

.search-product input {
  width: 50%;
  filter: drop-shadow(4px 4px 4px #003f5c);
}

.search {
  background-image: url(./assets/img/search.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  filter: drop-shadow(4px 4px 4px #003f5c);
  background-color: #003f5c;
}

/* CATEGORY */
.category-home {
  height: 25px;
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  padding-bottom: 50px;
}

.category-home button {
  width: 130px;
  height: 30px;
  border: solid #003f5c;
  color: #003f5c;
  font-size: 20px;
  transition: color 0.25s linear, transform 0.07s linear,
    background-color 0.5s linear;
  background-color: transparent;
}

.category-home button:hover {
  color: var(--color-a-hover);
  background: var(--bg-a-hover);
  transform: scale(1.1);
}

/* STYLE productDetail */
.product {
  margin: 0 auto;
  padding: 13px 20px;
}

@media (min-width: 1300px) {
  .product {
    max-width: 1250px;
    padding: 50px 0px;
  }
}

.col {
  width: 50%;
  padding: 20px;
}

.productInfo {
  display: flex;
}
.producto-img-pri {
  border: solid 1px chocolate;
  height: 200px;
  overflow: auto;
}
.producto-img-pri li {
  border: solid 1px chocolate;
  height: 200px;
  display: flex;
  justify-content: center;
  list-style: none;
}
/* CONTINUAR|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
.producto-img-pri.translate {
}
*/
.images-gallery {
  margin-bottom: 20px;
  overflow: hidden;
}

.gallery {
  position: relative;
}

.left {
  left: 0;
}

.button-gallery {
  align-items: center;
  bottom: 0;
  display: flex;
  position: absolute;
  top: 0;
}

.button-gallery button {
  width: 40px;
  height: 40px;
  color: white;
  background-color: #003f5c;
  border-radius: 450%;
  border: none;
}

.rigth {
  right: 0;
}

.productInfo img {
  width: 35%;
  height: auto;
}

.product-gallery img {
  width: 80px;
}

.product-gallery {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  margin: 10px;
}

@media (min-width: 992px) {
  .selected {
    /* border: 2px solid #003f5c; */
    border-radius: 6px;
    display: flex;
    justify-content: center;
  }
}
li.selected {
  width: 100px;
  height: 100px;
}
.selected img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: contain;
  /* object-fit: contain; */
}

.productData {
  display: flex;
  flex-direction: column;
}

.productDescription {
  margin-bottom: 30px;
}

.product-options {
  display: flex;
  justify-content: space-around;
  color: gray;
  margin-bottom: 20px;
}

.price {
  margin-bottom: 5px;
}

.price-num {
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 10px;
  color: black;
}

.flex {
  display: flex;
}

.flex button {
  border: 1px solid lightgray;
  background: none;
  height: 30px;
  line-height: 1.9;
  width: 30px;
}

.value {
  border: 1px solid lightgray;
  line-height: 1.7;
  padding: 0 20px;
}

.productButton {
  background-color: #003f5c;
  color: white;
  font-size: 1.1rem;
  margin-bottom: 50px;
  padding: 15px;
  width: 100%;
  border: none;
}

.productInfo h2 {
  margin-bottom: 20px;
  margin-left: 10px;
}

/* PURCHASES */

.header h3 {
  font-family: Yantramanav, sans-serif;
}

.purchases {
  margin: 0 auto;
  padding: 40px 200px 80px;
}

.purchase-item {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.header {
  padding: 20px 30px;
}

.purchase-products-list {
  padding: 30px 10px 10px;
}

.product-item {
  padding: 30px;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  height: 60px;
}

.name {
  font-size: 1.1rem;
  width: 40%;
}

.quantity-purchase {
  background-color: #003f5c;
  padding: 0 10px;
  width: 53px;
  height: 35px;
  border: 1px solid lightgray;
}

.box {
  margin-top: 5px;
  max-width: 65px;
  text-align: center;
  color: aliceblue;
}

.price-purchases {
  text-align: center;
  width: 17%;
  font-family: Yantramanav, sans-serif;
}
